<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      .button {
        background-color: #36917d;
        border: none;
        border-radius: 28px;
        color: white;
        padding: 15px 32px;
        margin: 20px 0px 20px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        line-height: 24px;
        text-transform: uppercase;
        cursor: pointer;
      }
    </style>
    <title>Just Ask</title>
  </head>
  <body>
    <div style="width: 768px; margin: 0 auto; background-color: white;">
      <div>
        <div style="margin-bottom: 50px; position: relative;">
        </div>
        <div style="border-bottom: 1px solid rgb(242, 242, 242); width: 100%;"></div>
      </div>
      <div>
        <h1>Your Just-Ask psasword reset link!</h1>
        <p class="text-regular">
          Hi there!<br>
          You forgot your password? No problem, just click on the button below.
        </p>
        <a class="button" href="<%- link %>">Reset my password</a>

        <p class="text-regular" style="margin-bottom: 90px;">
          Thanks,<br />
          Maurice
        </p>


        <p class="text-small tc-grey">
          <strong>Button's not working?</strong><br />
          Okay, just click here:<br />
          <a style="overflow-wrap: break-word; text-decoration: underline;" href="<%- link %>"><%- link %></a>
        </p>
      </div>
    </div>
  </body>
</html>
